//varibles
$primaryFont: 'Dosis', sans-serif;
$secondaryFont: 'Roboto', sans-serif;


$primaryColor: #fffffb;
$secondaryColor: #1a1a1a;
$tertiaryColor: #88849b;

$text-shadow: 2px 3px 6px rgba( 	26, 26, 26, 0.9);

//mixins
@mixin buttonStyle {
    margin: 5%  auto 0 auto;
    text-transform: lowercase;
    background-color: $tertiaryColor;
    color: $primaryColor;
    font-family: $primaryFont;
    font-weight: 700;
    font-size: 1.6rem;
    width: 30%;
    border: none;
    cursor: pointer;  
}


//gen styles

html{
    font-size: 125%;
}

.wrapper{
    max-width: 1025px;
    width: 80%;
    margin: 0 auto;
}

img{
    width: 100%;
    display: block;
}

h1{
    color: $primaryColor;
    font-family: $primaryFont;
    font-size: 6rem;
}

h2{
    text-transform: lowercase;
    color: $secondaryColor;
        font-size: 3.0rem;
        font-family: $primaryFont;
        margin-bottom: 5%;
        text-align: center;
}

p{
    color: $secondaryColor;
    font-family: $secondaryFont;
    font-size: 1.6rem;
    text-transform: lowercase;

}

a{
    text-decoration: none;
    color: $primaryColor;
    font-family: $secondaryFont;
}
