.landingPage{
    background: url(assets/dot.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    height: 100vh;
}

header{
    background: $secondaryColor;;
    height: 75px;
    .wrapper {
        display: flex;
        flex-direction:row;
        justify-content: space-between;
        
        .logo img{
        width: 125px;
         }
        .logo, .skipToForm{
            padding: 22px;
        }
        .skipToForm a{
            transition: border-bottom .3s ease;
            &:hover{
                 border-bottom: 2px solid $primaryColor;
            }
        }
    }   
}

.content{
    text-align: center;
    h1{
        margin-top: 10%;
       text-shadow: $text-shadow;
    }
    i{
        font-size: 4rem;
        margin-top: 150px;
        text-shadow: $text-shadow;
        transition: font-size .3s ease;
        &:hover{
            font-size: 4.2rem;
        }
    }

}

footer {
    background: $secondaryColor;
    margin: 0;
    height: 75px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    p {
        color: $primaryColor;
        font-size: 0.75rem;
        text-transform: none;
        font-weight: 700;
        
    }

}