.landingPage{
    background: url(assets/dot.jpg);
    background-repeat: no-repeat;
    height: 100vh;
}

header{
    display: flex;
    flex-direction:row;
    justify-content: space-between;
    background: $secondaryColor;;
    height: 75px;
    .wrapper .logo img{
     width: 125px;
    }
}

.content{
    h1{
        margin: 0;
    }
    p{
        color: $primaryColor;
        text-align: center;
    }

}