@media(max-width: 1000px){
   .content{
        h1{
            margin-top: 20%;
        }
        i{
            font-size: 4rem;
            margin-top: 35%;
        }
    } 
}

@media(max-width: 930px){
   .content{
        h1{
            margin-top: 30% ;
        }
        i{
            margin-top: 30%;
        }
    } 
}

