@media(max-width: 1000px){
   .content{
        h1{
            margin-top: 20%;
        }
        i{
            font-size: 4rem;
        }
    } 
}

@media(max-width: 930px){
   .content{
        h1{
            margin-top: 30% ;
        }
      
    } 
}

@media (max-width: 680px){
        .content i {
            font-size: 3.0rem;
            margin-top: 200px;
        }
     
    }