@media (max-width: 930px){
    .results .galleryHeader {
        p {
            font-size: 1.2rem;
        }    
    }  
}

@media(max-width: 820px){
    .results .gallery .petCrate .petInfo button{
       width: 75%;
    }
}

@media(max-width: 700px){
    .results .gallery .petCrate .petInfo button {
        width: 40%;
        margin: 23px 0;
    }

   .results .gallery .petCrate {
        flex-direction:column;
        .discription {
            font-family: $secondaryFont;
            line-height: 1.6rem;
            color: $secondaryColor;
            margin: 1% 0 2% 0;
        }
        .petImage {
            display: block;
            width: 100%;
            // height: auto;
            object-fit: cover;
            margin: 0 5% 5% 0;
        } 
        .petInfo {
            flex-direction: row;
            flex-wrap: wrap;
            height:200px;
            width: 100%;
            p {
                width: 50%;
            }
        }
    }
}

@media (max-width: 400px) {
    .results .gallery .petCrate .petInfo button {
        width: 100%;
    }
    .results .gallery .petCrate {
        .petInfo {
            p {
                font-size: 0.9rem;
            }
        }
    }
}

